{{# if loggedIn}}
<section>
  <button class="btn btn-danger my-4"><a href="/new">New Post</a> </button>
</section>
{{log posts.length}}
{{log posts}}
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>

      {{> post-info post}}

      <div class="py-auto">
       <button><a href="/dashboard/edit/{{post.id}}" class="edit-link text-light">Edit post</a></button>
   </div>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
{{/if}}
<script src="/javascript/add-post.js"></script>